
<div class="container w-75 my-5">
  <div class="row border border-dark shadow-lg rounded-4 my-5">
    <div class="col-lg-6">
      <img src="https://i.postimg.cc/FzrD0vZp/users.avif" class="w-100 mt-5" alt="">
    </div>
    <div class="col-lg-6 rounded-end">
      <form (ngSubmit)="addUser()" [formGroup]="addForm" class="p-5">
        <h4 class="text-dark text-center my-5">Add New Employee</h4>
        <div class="form-floating mb-3">
          <input type="text" class="form-control border border-dark" id="name" formControlName="name" placeholder="Name">
          <label for="name">Name</label>
        </div>
        <p *ngIf="addForm.get('name')?.invalid && (addForm.get('name')?.dirty || addForm.get('name')?.touched)" class="text-danger">Invalid name</p>
        <div class="form-floating mb-3">
          <input type="email" class="form-control border border-dark" id="email" formControlName="email" placeholder="name@example.com">
          <label for="email">Email address</label>
        </div>
        <p *ngIf="addForm.get('email')?.invalid && (addForm.get('email')?.dirty || addForm.get('email')?.touched)" class="text-danger">Invalid email id</p>
        <div class="form-floating">
          <select formControlName="status" class="form-select border border-dark p-2 rounded" id="status">
            <option selected hidden disabled value="">Select status</option>
            <option value="1">Active</option>
            <option value="0">Inactive</option>
          </select>
          <!-- <label for="status">Status</label> -->
        </div>
        <div>
          <button type="submit" class="btn border btn-outline-dark border-dark w-100 my-5">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
